# Trending Skill Analyis

## How are skills trending for Data Analysts on a monthly basis

In [3]:
# importing libraries
import ast
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# reading data
df = pd.read_csv('Data Jobs in India.csv', encoding = 'unicode_escape')

In [7]:
# printing data
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Data Engineer,Big Data Engineer,"Pune, Maharashtra, India",via LinkedIn,Full-time,False,India,15-06-2023 13:28,False,False,India,NaN,NaN,NaN,Hexaware Technologies,"['powershell', 'python', 'sql', 'mysql', 'sql ...","{'cloud': ['databricks', 'azure'], 'databases'..."
1,Data Scientist,Data Scientist,"Pune, Maharashtra, India",via Indeed,Full-time,False,India,26-04-2023 13:20,False,False,India,NaN,NaN,NaN,Bitwise Solutions,"['r', 'sql', 'python', 'scala', 'java', 'c++',...","{'analyst_tools': ['tableau'], 'libraries': ['..."
2,Data Scientist,Data Scientist,"Pune, Maharashtra, India",via Exusia,Full-time,False,India,26-03-2023 13:16,False,False,India,NaN,NaN,NaN,Exusia,NaN,NaN
3,Data Analyst,Data Quality and Governance Analyst 1,India,via Trabajo.org,Full-time,False,India,23-07-2023 13:24,False,False,India,NaN,NaN,NaN,"Jones Lang LaSalle IP, Inc","['sql', 'python', 'databricks', 'power bi', 'e...","{'analyst_tools': ['power bi', 'excel', 'word'..."
4,Senior Data Engineer,"Senior Data Engineer(Python)-1563,1637&1633","Chennai, Tamil Nadu, India",via HR Software For Growing Businesses | Fresh...,Full-time,False,India,10-11-2023 13:30,True,False,India,NaN,NaN,NaN,CESIT,"['python', 'sql', 'aws', 'pyspark', 'docker', ...","{'async': ['jira'], 'cloud': ['aws'], 'librari..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51083,Data Engineer,India - Collections Analyst II,India,melalui BeBee India,Pekerjaan tetap,False,India,13-03-2023 06:16,False,False,India,NaN,NaN,NaN,Varite India Private Limited,"['excel', 'flow']","{'analyst_tools': ['excel'], 'other': ['flow']}"
51084,Data Analyst,Amul Careers 2023 - Apply Online - Data Analys...,India,melalui Jobsleworld - Jobs In India - Job Vaca...,Pekerjaan tetap,False,India,13-03-2023 06:16,False,False,India,NaN,NaN,NaN,Amul,NaN,NaN
51085,Software Engineer,Application Support Analyst,India,melalui BeBee India,Pekerjaan tetap,False,India,13-03-2023 06:16,False,False,India,NaN,NaN,NaN,CompuGroup Medical,"['c#', 'sql']","{'programming': ['c#', 'sql']}"
51086,Business Analyst,Senior Performance QA Analyst,India,melalui BeBee India,Pekerjaan tetap,False,India,13-03-2023 06:16,False,False,India,NaN,NaN,NaN,Diebold Nixdorf,NaN,NaN
51087,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,13-03-2023 06:16,False,False,India,NaN,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51088 entries, 0 to 51087
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        51088 non-null  object
 1   job_title              51088 non-null  object
 2   job_location           51086 non-null  object
 3   job_via                51088 non-null  object
 4   job_schedule_type      50993 non-null  object
 5   job_work_from_home     51088 non-null  bool
 6   search_location        51088 non-null  object
 7   job_posted_date        51088 non-null  object
 8   job_no_degree_mention  51088 non-null  bool
 9   job_health_insurance   51088 non-null  bool
 10  job_country            51088 non-null  object
 11  salary_rate            589 non-null    object
 12  salary_year_avg        582 non-null    float64
 13  salary_hour_avg        7 non-null      float64
 14  company_name           51085 non-null  object
 15  job_skills             45782 non-null  object
 16  job_type_skills        45782 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 5.6+ MB

In [23]:

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
#df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [25]:
df_DA = df[df['job_title_short'] == 'Data Analyst'].copy()